sentence-transformers
datasets
git+https://github.com/ARBML/tkseem.git
tnkeeh
pyarabic
git+https://www.github.com/keras-team/keras-contrib.git
#h5py==2.10.0
diacritization-evaluation==0.5
ruamel.yaml==0.16.12
pyarabic
git+https://github.com/MagedSaeed/Bohour.git
gdown==4.6.0
